# Backend API configuration
VITE_API_BASE_URL=http://localhost:8080/api

# Backend WebSocket configuration
VITE_WS_URL=http://localhost:8080/ws

# Disease prediction model API
VITE_DISEASE_PREDICT_URL=http://127.0.0.1:5000/predict
